<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="/CodeMirror/lib/codemirror.css" />

    <link rel="stylesheet" href="/CodeMirror/theme/blackboard.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/Semantic-UI-CSS-master/semantic.min.css"
    />

    <title>MIPS Simulator</title>
  </head>

  <body style="background: #100e17;">
    <div
      class="ui inverted segment"
      style="background-color: #17141d; color: white;"
    >
      <div
        class="ui inverted secondary pointing menu Heading"
        style="border: none;"
      >
        <div class="HeadingDiv">
          <h1>
            <i class="microchip icon" style="color: #ff8a00;"></i>MIPS Simulator
          </h1>
        </div>
        <div class="right menu">
          <div class="item" id="CacheMissRate">
            <h1>
              <i class="close icon" style="color: #f0021e;"></i> Miss Rates
            </h1>
            <div class="MissData">
              <div>L1: <span id="CacheL1MissRate"></span></div>
              <div>L2: <span id="CacheL2MissRate"></span></div>
            </div>
          </div>

          <div class="item">
            <h2 id="cycles"></h2>
          </div>
          <div class="item">
            <h2 id="stalls"></h2>
          </div>
          <div class="item">
            <button
              class="ui orange button"
              id="timeline"
              style="display: none;"
            >
              View Cycle Timeline
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui grid">
      <div class="four wide column">
        <div
          class="ui top attached tabular menu"
          style="background-color: inherit; color: white;"
        >
          <a
            class="item active"
            style="
              background-color: #17141d;
              color: white;
              margin: 0px;
              padding: 1.3rem;
            "
            data-tab="registers"
            >Registers</a
          >
          <a
            class="item"
            style="
              background-color: #17141d;
              color: white;
              margin: 0px;
              padding: 1.3rem;
            "
            data-tab="Memory"
            >Memory</a
          >

          <a
            class="item"
            style="
              background-color: #17141d;
              color: white;
              padding: 1.3rem;
              margin: 0px;
            "
            data-tab="Cache"
          >
            Configure Cache</a
          >
        </div>

        <div
          class="ui segment bottom tab attached active"
          data-tab="registers"
          style="background-color: #17141d; color: white;"
        >
          <div class="ui inverted relaxed divided list">
            <h2 class="ui blue inverted header" style="margin-left: 1rem;">
              Registers
            </h2>
            <div class="registerDiv"></div>
          </div>
        </div>
        <div
          class="ui segment bottom tab attached"
          data-tab="Memory"
          style="background-color: #17141d; color: white;"
        >
          <div class="ui inverted relaxed divided list">
            <h2 class="ui blue inverted header" style="margin-left: 10px;">
              Memory
            </h2>
            <div class="memoryDiv"></div>
          </div>
        </div>

        <div
          class="ui segment bottom tab attached"
          data-tab="Cache"
          style="background-color: #17141d; color: white;"
        >
          <div class="ui inverted relaxed divided list">
            <h2 class="ui blue inverted header" style="margin-left: 10px;">
              Cache Configuration
            </h2>
            <div class="CacheDiv" style="width: 70%; margin-left: 0.4rem;">
              <form class="ui form">
                <div class="field">
                  <label class="ui purple inverted header"
                    >Memory Access Time(cycles)</label
                  >
                  <input
                    type="text"
                    name="access"
                    placeholder="20"
                    id="memory_access"
                  />
                </div>
                <h4 class="ui dividing orange inverted header">Cache L1</h4>
                <div class="field">
                  <label class="ui purple inverted header">Cache Size</label>
                  <div class="two fields">
                    <div class="eight wide field">
                      <input
                        type="text"
                        name="size"
                        id="cache_l1_size"
                        placeholder="2"
                      />
                    </div>
                    <div class="eight wide field">
                      <select
                        class="ui search dropdown"
                        id="cache_l1_size_unit"
                      >
                        <option value="1024">KB</option>
                        <option value="1048576">MB</option>
                        <option value="1073741824">GB</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="two fields">
                  <div class="field">
                    <label class="ui purple inverted header">Block Size</label>
                    <input
                      type="text"
                      name="block size"
                      id="cache_l1_size_block"
                      placeholder="64"
                    />
                  </div>
                  <div class="field">
                    <label class="ui purple inverted header"
                      >Associativity</label
                    >
                    <input
                      type="text"
                      name="Associativity"
                      placeholder="4"
                      id="cache_l1_associativity"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="ui purple inverted header"
                    >Access Latency(cycles)</label
                  >
                  <input
                    type="text"
                    name="access"
                    placeholder="1"
                    id="cache_l1_access_latency"
                  />
                </div>

                <h4 class="ui dividing orange inverted header">Cache L2</h4>
                <div class="field">
                  <label class="ui purple inverted header">Cache Size</label>
                  <div class="two fields">
                    <div class="eight wide field">
                      <input
                        type="text"
                        name="size"
                        placeholder="8"
                        id="cache_l2_size"
                      />
                    </div>
                    <div class="eight wide field">
                      <select
                        class="ui search dropdown"
                        id="cache_l2_size_unit"
                      >
                        <option value="1024">KB</option>
                        <option value="1048576">MB</option>
                        <option value="1073741824">GB</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="two fields">
                  <div class="field">
                    <label class="ui purple inverted header">Block Size</label>
                    <input
                      type="text"
                      name="block size"
                      placeholder="64"
                      id="cache_l2_size_block"
                    />
                  </div>
                  <div class="field">
                    <label class="ui purple inverted header"
                      >Associativity</label
                    >
                    <input
                      type="text"
                      name="Associativity"
                      placeholder="4"
                      id="cache_l2_associativity"
                    />
                  </div>
                </div>
                <div class="field">
                  <label class="ui purple inverted header"
                    >Access Latency(cycles)</label
                  >
                  <input
                    type="text"
                    name="access"
                    placeholder="4"
                    id="cache_l2_access_latency"
                  />
                </div>

                <div class="field">
                  <button class="ui orange button" id="config_set">
                    Set Configuration
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="twelve wide column">
        <textarea name="textarea" id="ide" cols="200" rows="50"></textarea>
        <div class="ui buttons" style="margin-top: 10px;">
          <div
            class="ui animated inverted orange button"
            id="submit"
            tabindex="0"
          >
            <div class="visible content">Run</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </div>
          <!-- <button id="next">Next</button> -->
          <input type="file" name="file" id="input_file" />
          <label for="input_file" class="ui inverted orange button">
            <i class="upload icon"></i>&nbsp; Upload File
          </label>
        </div>
      </div>
    </div>
    <form name="data" action="/run" method="POST" hidden>
      <input name="cycle_data" id="cycle-data" />
      <input name="cycles" id="numberOfCycles" />
      <input name="stalls" id="numberOfStalls" />
      <input name="numberOfInstructions" id="numberOfInstructions" />
      <input type="submit" id="cycleDataSubmit" />
    </form>

    <!-- <div class="registerDiv">

    </div> -->

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"
    ></script>
    <script src="/Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src="/CodeMirror/lib/codemirror.js"></script>
    <script src="/CodeMirror/mode/javascript/javascript.js"></script>
    <script type="module" src="/pipelined.js"></script>
  </body>
</html>
